<?xml version="1.0"?>
<robot name="sonar" >
  
  
  <xacro:macro name="sonar" params="parent pos xyz rpy">

    <link name="${pos}_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="${sonar_height}" radius="${sonar_radius}"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${sonar_height}" radius="${sonar_radius}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${pos}_sonar_joint" type="fixed">
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <parent link="${parent}"/>
        <child link="${pos}_sonar"/>
    </joint>

  </xacro:macro>
</robot>
