<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!-- robot -->
<robot name="aibee_robot">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

<!-- imu_link -->
  <link name="imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>


<!-- horizontal_vlp16_link -->
  <link name="horizontal_vlp16_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

<!-- vertical_vlp16_link  -->
  <link name="vertical_vlp16_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>


<!-- odom_child
  <link name="odom_child">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link> -->

  <!--base_link -->
  <link name="base_link" />

<!-- the joint of every link -->

<!-- base_link ==> imu -->

<!-- imu ==> horizontal_vlp16_link -->
<!-- imu ==> vertical_vlp16_link -->

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.00493858 0.00 0.801653" rpy="-0.00584294 -0.00656523 -1.58415" />
  </joint>

  <joint name="horizontal_vlp16_link_joint" type="fixed">
    <parent link="imu_link" />
    <child link="horizontal_vlp16_link" />
    <origin xyz="0.0126509 0.0180983 0.172326" rpy="3.127 -3.1354 1.54265" />
  </joint>

  <joint name="vertical_vlp16_link_joint" type="fixed">
    <parent link="imu_link" />
    <child link="vertical_vlp16_link" />
    <origin xyz="0.0107642 0.17024 0.0459122" rpy="0.029518 1.31004 1.58561" />
  </joint>

<!-- rplidar sensor  -->
    <link name="rplidar_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.05"/>
        </geometry>
      </visual>
    </link>

    <joint name="rplidar_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="rplidar_link"/>
        <origin xyz="0.1127 0 0.013" rpy="0 0 0"/>
    </joint>


<!-- sonars sensor -->

<!-- m1 -->
    <link name="m1_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m1_sonar_joint" type="fixed">
        <origin xyz="-0.3402  0.1611 0.0497" rpy="0 0  -2.699"/>
        <parent link="base_link"/>
        <child link="m1_sonar"/>
    </joint>

<!-- m2 -->
    <link name="m2_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m2_sonar_joint" type="fixed">
        <origin xyz="-0.1276 0.2838 0.0497 " rpy="0 0 1.9933"/>
        <parent link="base_link"/>
        <child link="m2_sonar"/>
    </joint>

<!-- m3 -->
    <link name="m3_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m3_sonar_joint" type="fixed">
        <origin xyz="0.05 0.2693 0.0497 " rpy="0 0 -1.7544"/>
        <parent link="base_link"/>
        <child link="m3_sonar"/>
    </joint>

<!-- m4 -->
    <link name="m4_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m4_sonar_joint" type="fixed">
        <origin xyz="0.1514 0.1227 0.0497 " rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="m4_sonar"/>
    </joint>

<!-- m5 -->
    <link name="m5_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m5_sonar_joint" type="fixed">
        <origin xyz="0.1514 -0.1227 0.0497 " rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="m5_sonar"/>
    </joint>

<!-- m6 -->
    <link name="m6_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m6_sonar_joint" type="fixed">
        <origin xyz="0.05 -0.2693 0.0497 " rpy="0 0 -1.7544"/>
        <parent link="base_link"/>
        <child link="m6_sonar"/>
    </joint>

<!-- m7 -->
    <link name="m7_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m7_sonar_joint" type="fixed">
        <origin xyz="-0.1276 -0.2838 0.0497 " rpy="0 0 -1.9933"/>
        <parent link="base_link"/>
        <child link="m7_sonar"/>
    </joint>    

<!-- m8 -->
    <link name="m8_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m8_sonar_joint" type="fixed">
        <origin xyz="-0.3402  -0.1611 0.0497" rpy="0 0 -2.699"/>
        <parent link="base_link"/>
        <child link="m8_sonar"/>
    </joint>

<!-- m9 -->
    <link name="m9_sonar">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.01"/>
          <material name="yellow" />
        </geometry>
      </visual>
    </link>

    <joint name="m9_sonar_joint" type="fixed">
        <origin xyz="-0.4165 0 0.0497 " rpy="0 0 -3.1415" />
        <parent link="base_link"/>
        <child link="m9_sonar"/>
    </joint>    

  <!-- <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m2" xyz="-0.1276 0.2838 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m3" xyz="0.05 0.2693 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m4" xyz="0.1514 0.1227 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m5" xyz="0.1514 -0.1227 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m6" xyz="0.05 -0.2693 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m7" xyz="-0.1276 -0.2838 0.0497 " rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m8" xyz="-0.3402  -0.1611 0.0497" rpy="0 1.57 0" />

  <xacro:include filename="$(find aibee_robot)/config/sonar.xacro"/>
  <xacro:sonar parent="base_link" pos="m9" xyz="0 0 0 " rpy="0 1.57 0" /> -->



</robot>
