
<launch>
 <!-- ***************************** 
 needed :

 - ipad 启动 cartographer, 预约点位
 - 不需要map server, cartographer直接publisher /map  nav_msgs/OccupancyGrid
 - 不需要 AMCL定位, catographer SLAM定位

 - /odom信息 在 /tf中

 ************************************ -->


 <!-- ***************************** 
 action :

 -  3D  PointCloud2 ==> LaserScan 
 -  moveBase action
 -  obstable_navigatoin 
 -  set the control mode 

 ************************************ -->


<!-- ***************************** ROS Navigation ************************************ -->


 <!--坐标系的转换-->
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.055 0.877 0  1.57079633  0 0  base_link real_robot 50" />



  <arg name="ladir_name" default="velodyne_points" />
    <arg name="ladir_frame_id" default="horizontal_vlp16_link" />
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
        <!-- 输入数据的 3D Pointclude2 topic 映射成到 cloud_in-->
        <remap from="cloud_in" to="/static_velodyne/velodyne_points"/>
                
        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame: horizontal_vlp16_link   # Leave disabled to output scan in pointcloud frame
            <!--target_frame: velodyne   # Leave disabled to output scan in pointcloud frame-->
            transform_tolerance: 0.01
            min_height: -2.0
            max_height: 2.0

            angle_min: -M_PI        # -M_PI
            angle_max: M_PI         # M_PI
            angle_increment: 2M_PI/720  # 2M_PI/720
            scan_time: 1/30.0          #  out put 30Hz
            range_min: 0.00
            range_max: 50.0
            use_inf:  true
            inf_epsilon: 10.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
    </node>


<!--move_base action-->
  <node pkg="move_base" type="move_base"  name="move_base" output="screen" >
    <param name="map_topic" value="aibee_map"/>  
    <rosparam file="$(find aibee_robot)/config/mrobot/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find aibee_robot)/config/mrobot/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find aibee_robot)/config/mrobot/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find aibee_robot)/config/mrobot/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find aibee_robot)/config/mrobot/base_local_planner_params.yaml" command="load" />
  </node>

    <!-- node function: 订阅ipad点位, 利用movebase 导航到对应位置-->
    <node name="obstable_navigatoin" pkg="obstable_navigatoin" type="obstable_navigatoin_node" output="screen" >
    </node>

    <!--坐标系的转换-->
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map odom 20" /> -->


<!-- 运行rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find aibee_robot)/rviz/obstable.rviz"/>

</launch>

