
<launch>
 <!-- ***************************** robot & world & sensors ************************************ -->
    


<!-- ***************************** ROS Navigation ************************************ -->

<!--map_server-->
    <!-- 设置地图的配置文件 -->
    <arg name="map" default="cloister_gmapping.yaml" />
    <!--<arg name="map" default="gridmap/wandaf1.yaml" />-->
    
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find aibee_robot)/maps/$(arg map)">
    <param name="map_topic" value="aibee_map"/>  
    <!--map server-->
    </node>

</launch>

