
<?xml version="1.0"?>

<launch>
    <arg name="ladir_name" default="static_velodyne" />
    <arg name="ladir_frame_id" default="horizontal_vlp16_link" />
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <!-- 输入数据的 3D Pointclude2 topic 映射成到 cloud_in-->
        <remap from="cloud_in" to="$(arg ladir_name)/velodyne_points"/>
        
        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame: $(arg ladir_frame_id)   # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 3.0

            angle_min: -3.1415926       # -M_PI
            angle_max: 3.1415926        # M_PI
            angle_increment: 0.0043633  # 2M_PI/1440
            scan_time: 0.3333           #  out put 30Hz
            range_min: 0.01
            range_max: 50
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
