<?xml version="1.0"?>
<launch>
    <arg name="ladir_name" default="velodyne_points" />
    <arg name="ladir_frame_id" default="velodyne" />
    <!--<arg name="ladir_frame_id" default="horizontal_vlp16_link" />-->
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
        <!-- 输入数据的 3D Pointclude2 topic 映射成到 cloud_in-->
        <remap from="cloud_in" to="/static_velodyne/velodyne_points"/>
        <!--<remap from="cloud_in" to="velodyne_points"/>-->
        
        <remap from="scan" to="/scan"/>
        <rosparam>
            target_frame: horizontal_vlp16_link   # Leave disabled to output scan in pointcloud frame
            <!--target_frame: velodyne   # Leave disabled to output scan in pointcloud frame-->
            transform_tolerance: 0.01
            min_height: -2.0
            max_height: 3.0

            angle_min: -M_PI        # -M_PI
            angle_max: M_PI         # M_PI
            angle_increment: 2M_PI/720  # 2M_PI/720
            scan_time: 1/30.0          #  out put 30Hz
            range_min: 0.00
            range_max: 50.0
            use_inf:  true
            inf_epsilon: 10.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
