
<launch>

   
    <!-- node function: 订阅ipad点位, 利用movebase 导航到对应位置-->
    <node name="obstable_navigatoin" pkg="obstable_navigatoin" type="obstable_navigatoin_node" output="screen" >
    
    </node>


<!-- 运行rviz -->
    <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find aibee_robot)/rviz/obstable.rviz"/>-->

</launch>

