<?xml version="1.0"?>
<launch>


<include file="$(find wheel_speed_odo)/launch/aibee.launch"/> 


<!--pointCloud to Laserscan 提供/scan -->
<include file="$(find pointcloud_to_laserscan)/launch/vscan.launch"/>

<!--map server 提供 /map -->
<arg name="map" default="office_map/map.yaml" />
<node name="map_server" pkg="map_server" type="map_server" args="$(find aibee_robot)/maps/$(arg map)">
<param name="map_topic" value="map"/> 
</node>

<!-- cmd or ipad control change-->
<node pkg="cmd_control" type="cmd_control_node"  name="cmd_control_node" output="screen"/>
    
<node pkg="global_navi" type="global_navi" name="global_navi" output="screen">
<rosparam file="$(find global_navi)/config/global_costmap_params.yaml" command="load" />
    
</node>

</launch>